---
title: Hi, I'm Justin.
layout: layouts/home.njk
description: Description. Update me.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  This blog is used to record my articles about:
  <li>life experiences</li>
  <li>the skills I have learned</li>
  <li>my personal reflections</li>
  <li>and various types of casual articles</li>




</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
